*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
}

header{
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    .login{
        padding: 15px 40px;
        color: #fff;
        background-color: #c93636;
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 25px;
    }
}

footer{
    display: flex;
    justify-content: end;
    .footer--info{
        display: flex;
        gap: 30px;
        align-items: flex-end;
        margin-left: 53%;
        margin-right: 30px;

        .rules{
            a{
                text-decoration: none;
                color: #000;
                font-size: 20px;
                
            }
            a:hover{
                cursor: pointer;
                color: blue;
            }
        }
        .security{
            a{
                text-decoration: none;
                color: #000;
            }
            a:hover{
                cursor: pointer;
                color: blue;
            }
        }
        .about{
            color: rgb(82, 78, 78);
        }
    }
}
button{
    border: none;
    background-color: #fff;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0,0,0,0.5);
    // backdrop-filter: blur(1px);
    z-index:1;
}

.rules--popup{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #edcbe9;
        padding: 0 20px;
        gap: 10px;
        .image-cancel {
                margin-bottom: 40px;
                margin-left: 280px;
                background: white;
            }
            .image-cancel-1:hover{
                cursor: pointer;
                color: aqua;
            }
}

.hidden{
    display: none;
}